<a href="https://colab.research.google.com/github/vickdurazzo/python_pandas/blob/main/Python_para_Analise_de_dados_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python para Analise de Dados - Estatísticas**

In [ ]:
import pandas as pd

In [ ]:
arquivo = '/content/kc_house_data.csv'
dataset = pd.read_csv(arquivo,sep=',',header=0)

**Estatistica Descritivas**

In [ ]:
# Valor médio da coluna bedrooms
dataset['bedrooms'].mean()

3.3709102688694523

In [ ]:
# Valor máximo da coluna bedrooms
dataset['bedrooms'].max()

33.0

In [ ]:
# Valor mínimo da coluna bedrooms
dataset['bedrooms'].min()

0.0

In [ ]:
# desvio padrão da coluna bedrooms
dataset['bedrooms'].std()

0.9300844679400369

**sobre simetria** : 
* um valor zero indica uma distribuição simétrica 
* um valor maior que zero ou menor indica uma distribuição assimétrica
* valores acima de zero podemos dizer que existe uma assimetria positiva
* valores abaixo de zero uma assimetria negativa <br>

Logo, valores muita acima de zero indicam que existem mais valores acima da média e valores abaixo de zero significa que contém mais valores abaixo da média

In [ ]:
# Simetria da coluna bedrooms
dataset['bedrooms'].skew()

1.9744391609000942

In [ ]:
# Retorna simetria de cada coluna do dataset
dataset.skew()

<ipython-input-9-edcbab6544f7>:2: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.skew()

id                0.243329
price             4.024069
bedrooms          1.974439
bathrooms         0.511108
sqft_living       1.471555
sqft_lot         13.060019
floors            0.616107
waterfront       11.385108
view              3.395750
condition         1.032805
grade             0.771103
sqft_above        1.446664
sqft_basement     1.577965
yr_built         -0.469805
yr_renovated      4.549493
zipcode           0.405661
lat              -0.485270
long              0.885053
sqft_living15     1.108181
sqft_lot15        9.506743
dtype: float64

**Correlação**

In [ ]:
# Correlação de todas as colunas (técnica person)
# Se uma variavel esta correlacionada positivamente, se uma váriavel aumenta a outra tende a aumentar também
# Se uma variavel esta correlacionada negativamente, se uma aumenta a outra tende a diminuir
dataset.corr()

<ipython-input-10-c187c74d1e71>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,1.000000,-0.016762,0.001235,0.005160,-0.012258,-0.132109,0.018595,-0.002721,0.011592,-0.023783,0.008130,-0.010842,-0.005151,0.021380,-0.016907,-0.008224,-0.001891,0.020799,-0.002901,-0.138798
price,-0.016762,1.000000,0.308321,0.525138,0.702035,0.089661,0.256791,0.266369,0.397293,0.036362,0.667434,0.605567,0.323816,0.054012,0.126434,-0.053203,0.307003,0.021626,0.585379,0.082447
bedrooms,0.001235,0.308321,1.000000,0.515929,0.576679,0.031684,0.175440,-0.006589,0.079515,0.028534,0.356972,0.477618,0.303078,0.154197,0.018827,-0.152706,-0.008963,0.129498,0.391670,0.029221
bathrooms,0.005160,0.525138,0.515929,1.000000,0.754665,0.087740,0.500626,0.063744,0.187737,-0.124982,0.664983,0.685342,0.283770,0.506019,0.050739,-0.203866,0.024573,0.223042,0.568634,0.087175
sqft_living,-0.012258,0.702035,0.576679,0.754665,1.000000,0.172826,0.353922,0.103818,0.284611,-0.058753,0.762704,0.876597,0.435043,0.318049,0.055363,-0.199430,0.052529,0.240223,0.756420,0.183286
sqft_lot,-0.132109,0.089661,0.031684,0.087740,0.172826,1.000000,-0.005210,0.021604,0.074710,-0.008958,0.113621,0.183512,0.015286,0.053080,0.007644,-0.129574,-0.085683,0.229521,0.144608,0.718557
floors,0.018595,0.256791,0.175440,0.500626,0.353922,-0.005210,1.000000,0.023695,0.029432,-0.263740,0.458171,0.523863,-0.245708,0.489298,0.006330,-0.059093,0.049656,0.125399,0.279856,-0.011280
waterfront,-0.002721,0.266369,-0.006589,0.063744,0.103818,0.021604,0.023695,1.000000,0.401857,0.016653,0.082775,0.072075,0.080588,-0.026161,0.092885,0.030285,-0.014274,-0.041910,0.086463,0.030703
view,0.011592,0.397293,0.079515,0.187737,0.284611,0.074710,0.029432,0.401857,1.000000,0.045990,0.251321,0.167649,0.276947,-0.053440,0.103917,0.084827,0.006157,-0.078400,0.280439,0.072575
condition,-0.023783,0.036362,0.028534,-0.124982,-0.058753,-0.008958,-0.263740,0.016653,0.045990,1.000000,-0.144674,-0.158214,0.174105,-0.361417,-0.060618,0.003026,-0.014941,-0.106500,-0.092824,-0.003406
grade,0.008130,0.667434,0.356972,0.664983,0.762704,0.113621,0.458171,0.082775,0.251321,-0.144674,1.000000,0.755923,0.168392,0.446963,0.014414,-0.184862,0.114084,0.198372,0.713202,0.119248
sqft_above,-0.010842,0.605567,0.477618,0.685342,0.876597,0.183512,0.523863,0.072075,0.167649,-0.158214,0.755923,1.000000,-0.051943,0.423898,0.023285,-0.261190,-0.000816,0.343803,0.731870,0.194050
sqft_basement,-0.005151,0.323816,0.303078,0.283770,0.435043,0.015286,-0.245708,0.080588,0.276947,0.174105,0.168392,-0.051943,1.000000,-0.133124,0.071323,0.074845,0.110538,-0.144765,0.200355,0.017276
yr_built,0.021380,0.054012,0.154197,0.506019,0.318049,0.053080,0.489298,-0.026161,-0.053440,-0.361417,0.446963,0.423898,-0.133124,1.000000,-0.224874,-0.346869,-0.148122,0.409356,0.326229,0.070958
yr_renovated,-0.016907,0.126434,0.018827,0.050739,0.055363,0.007644,0.006330,0.092885,0.103917,-0.060618,0.014414,0.023285,0.071323,-0.224874,1.000000,0.064357,0.029398,-0.068372,-0.002673,0.007854
zipcode,-0.008224,-0.053203,-0.152706,-0.203866,-0.199430,-0.129574,-0.059093,0.030285,0.084827,0.003026,-0.184862,-0.261190,0.074845,-0.346869,0.064357,1.000000,0.267048,-0.564072,-0.279033,-0.147221
lat,-0.001891,0.307003,-0.008963,0.024573,0.052529,-0.085683,0.049656,-0.014274,0.006157,-0.014941,0.114084,-0.000816,0.110538,-0.148122,0.029398,0.267048,1.000000,-0.135512,0.048858,-0.086419
long,0.020799,0.021626,0.129498,0.223042,0.240223,0.229521,0.125399,-0.041910,-0.078400,-0.106500,0.198372,0.343803,-0.144765,0.409356,-0.068372,-0.564072,-0.135512,1.000000,0.334605,0.254451
sqft_living15,-0.002901,0.585379,0.391670,0.568634,0.756420,0.144608,0.279856,0.086463,0.280439,-0.092824,0.713202,0.731870,0.200355,0.326229,-0.002673,-0.279033,0.048858,0.334605,1.000000,0.183192
sqft_lot15,-0.138798,0.082447,0.029221,0.087175,0.183286,0.718557,-0.011280,0.030703,0.072575,-0.003406,0.119248,0.194050,0.017276,0.070958,0.007854,-0.147221,-0.086419,0.254451,0.183192,1.000000

In [ ]:
# correlação de spearman (leva em consideração a positiva e a negativa)
dataset.corr('spearman')

<ipython-input-11-f6d8b9e0aece>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  dataset.corr('spearman')

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
id,1.000000,0.004178,0.006185,0.015051,0.001656,-0.116792,0.018905,-0.003573,0.012552,-0.023969,0.019835,0.003523,0.001408,0.026537,-0.017473,-0.005359,-0.003732,0.007413,-0.000035,-0.114735
price,0.004178,1.000000,0.344615,0.497160,0.644191,0.074939,0.322359,0.115089,0.293931,0.018490,0.658215,0.541752,0.251704,0.102038,0.101876,-0.008735,0.456409,0.063537,0.572290,0.062766
bedrooms,0.006185,0.344615,1.000000,0.521451,0.647395,0.216479,0.227565,-0.007604,0.081405,0.012748,0.380555,0.539755,0.230484,0.180037,0.016863,-0.167202,-0.021236,0.191430,0.443878,0.201530
bathrooms,0.015051,0.497160,0.521451,1.000000,0.745526,0.068805,0.546776,0.049522,0.155549,-0.162891,0.658194,0.691006,0.191848,0.566982,0.042688,-0.204783,0.008283,0.261539,0.570304,0.063111
sqft_living,0.001656,0.644191,0.647395,0.745526,1.000000,0.304159,0.401232,0.070326,0.232994,-0.062638,0.716400,0.843504,0.327878,0.352421,0.052679,-0.206848,0.030980,0.284584,0.746982,0.283864
sqft_lot,-0.116792,0.074939,0.216479,0.068805,0.304159,1.000000,-0.234460,0.085601,0.117033,0.114724,0.152049,0.272408,0.036624,-0.037569,0.008536,-0.319494,-0.122052,0.370551,0.359572,0.922316
floors,0.018905,0.322359,0.227565,0.546776,0.401232,-0.234460,1.000000,0.023876,0.019641,-0.287878,0.501672,0.599258,-0.272436,0.551660,0.012570,-0.061427,0.024616,0.148640,0.305398,-0.231411
waterfront,-0.003573,0.115089,-0.007604,0.049522,0.070326,0.085601,0.023876,1.000000,0.284924,0.016744,0.062189,0.054490,0.051969,-0.028605,0.091649,0.029591,-0.019044,-0.038139,0.074564,0.092271
view,0.012552,0.293931,0.081405,0.155549,0.232994,0.117033,0.019641,0.284924,1.000000,0.046000,0.217044,0.144394,0.236525,-0.066607,0.096539,0.078215,-0.000073,-0.102728,0.255793,0.116520
condition,-0.023969,0.018490,0.012748,-0.162891,-0.062638,0.114724,-0.287878,0.016744,0.046000,1.000000,-0.167374,-0.158126,0.161623,-0.393816,-0.066180,-0.022416,-0.022341,-0.085270,-0.086905,0.117719
grade,0.019835,0.658215,0.380555,0.658194,0.716400,0.152049,0.501672,0.062189,0.217044,-0.167374,1.000000,0.711815,0.092927,0.500633,0.016029,-0.181552,0.103921,0.222791,0.662635,0.156109
sqft_above,0.003523,0.541752,0.539755,0.691006,0.843504,0.272408,0.599258,0.054490,0.144394,-0.158126,0.711815,1.000000,-0.165644,0.471835,0.030942,-0.278562,-0.025860,0.385472,0.696646,0.254203
sqft_basement,0.001408,0.251704,0.230484,0.191848,0.327878,0.036624,-0.272436,0.051969,0.236525,0.161623,0.092927,-0.165644,1.000000,-0.177993,0.062837,0.114533,0.116296,-0.200191,0.129733,0.030566
yr_built,0.026537,0.102038,0.180037,0.566982,0.352421,-0.037569,0.551660,-0.028605,-0.066607,-0.393816,0.500633,0.471835,-0.177993,1.000000,-0.214504,-0.316874,-0.125902,0.412648,0.336087,-0.016260
yr_renovated,-0.017473,0.101876,0.016863,0.042688,0.052679,0.008536,0.012570,0.091649,0.096539,-0.066180,0.016029,0.030942,0.062837,-0.214504,1.000000,0.062424,0.025396,-0.075119,-0.005588,0.008830
zipcode,-0.005359,-0.008735,-0.167202,-0.204783,-0.206848,-0.319494,-0.061427,0.029591,0.078215,-0.022416,-0.181552,-0.278562,0.114533,-0.316874,0.062424,1.000000,0.249606,-0.577173,-0.287180,-0.326118
lat,-0.003732,0.456409,-0.021236,0.008283,0.030980,-0.122052,0.024616,-0.019044,-0.000073,-0.022341,0.103921,-0.025860,0.116296,-0.125902,0.025396,0.249606,1.000000,-0.143307,0.027566,-0.116542
long,0.007413,0.063537,0.191430,0.261539,0.284584,0.370551,0.148640,-0.038139,-0.102728,-0.085270,0.222791,0.385472,-0.200191,0.412648,-0.075119,-0.577173,-0.143307,1.000000,0.380412,0.373071
sqft_living15,-0.000035,0.572290,0.443878,0.570304,0.746982,0.359572,0.305398,0.074564,0.255793,-0.086905,0.662635,0.696646,0.129733,0.336087,-0.005588,-0.287180,0.027566,0.380412,1.000000,0.365723
sqft_lot15,-0.114735,0.062766,0.201530,0.063111,0.283864,0.922316,-0.231411,0.092271,0.116520,0.117719,0.156109,0.254203,0.030566,-0.016260,0.008830,-0.326118,-0.116542,0.373071,0.365723,1.000000

In [ ]:
# Correlação de algumas colunas
dataset[['bedrooms','bathrooms','floors','waterfront','grade','price']].corr()

            bedrooms  bathrooms    floors  waterfront     grade     price
bedrooms    1.000000   0.515929  0.175440   -0.006589  0.356972  0.308321
bathrooms   0.515929   1.000000  0.500626    0.063744  0.664983  0.525138
floors      0.175440   0.500626  1.000000    0.023695  0.458171  0.256791
waterfront -0.006589   0.063744  0.023695    1.000000  0.082775  0.266369
grade       0.356972   0.664983  0.458171    0.082775  1.000000  0.667434
price       0.308321   0.525138  0.256791    0.266369  0.667434  1.000000

**Tabelas pivot**

In [ ]:
# Tabelas Pivot são úteis para fazer agrupamento
# Aqui realizamos uma contagem de imóveis agrupados pelas colunas waterfront e floors
dataset.pivot_table('id',index=['waterfront','floors'],aggfunc='count',margins=True)

                      id
waterfront floors
0          1.0     10622
           1.5      1889
           2.0      8166
           2.5       159
           3.0       605
           3.5         8
1          1.0        57
           1.5        21
           2.0        75
           2.5         2
           3.0         8
All                21612

**Crosstab**

In [ ]:
# Cruza valores das variáveis
# Aqui podemos ver a distribuição dos imóveis por número de quartos com relação a sua condição
pd.crosstab(dataset['bedrooms'],dataset['condition'])

condition   1   2     3     4    5
bedrooms
0.0         1   1    10     1    0
1.0         4  11   124    48   12
2.0        12  51  1779   717  200
3.0         8  69  6306  2711  728
4.0         4  36  4579  1682  580
5.0         0   1  1031   418  151
6.0         1   3   158    87   23
7.0         0   0    25     9    4
8.0         0   0     8     3    2
9.0         0   0     6     0    0
10.0        0   0     1     2    0
11.0        0   0     1     0    0
33.0        0   0     0     0    1

# **Trabalhando com Excel**

In [ ]:
# Lendo a planilha
dataframe_excel = pd.read_excel('/content/Controle-de-Atividades-2.0.xlsx',sheet_name=0,header=1)

In [ ]:
dataframe_excel.head()

,N°,Atividade,Responsável,Estado Atual,Início,Previsão,Término,Duração Prev.,Duração Real,SITUAÇÃO,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Elaborar relatório de vendas,Antonio,ENCERRADA,2015-03-01 12:20:00,2015-03-01 18:30:00,2015-03-05 07:30:00,06:10:00,1900-01-03 19:10:00,ATRASADA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,Encerrar Balanço,Antonio,INICIADA,2015-03-01 07:00:00,2015-03-08 09:00:00,2015-03-08 09:00:00,1900-01-07 02:00:00,1900-01-07 02:00:00,EM DIA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,Preparar novo Plano de Contas,Pedro,ADIADA,2015-03-01 00:00:00,2015-03-20 00:00:00,NaT,1900-01-19 00:00:00,NaT,ADIANTADA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INICIADA
4,4.0,Preparar reunião de resultados,Márcia,ENCERRADA,2015-03-02 00:00:00,2015-03-10 00:00:00,NaT,1900-01-08 00:00:00,NaT,ADIANTADA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADIADA

In [ ]:
# Lendo o arquivo indexando por uma coluna
file = '/content/Controle-de-Atividades-2.0.xlsx'
dataframe_excel = pd.read_excel(file,sheet_name=0,header=1,index_col=3)
dataframe_excel.head(10)

,N°,Atividade,Responsável,Início,Previsão,Término,Duração Prev.,Duração Real,SITUAÇÃO,Unnamed: 10,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
Estado Atual,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENCERRADA,1.0,Elaborar relatório de vendas,Antonio,2015-03-01 12:20:00,2015-03-01 18:30:00,2015-03-05 07:30:00,06:10:00,1900-01-03 19:10:00,ATRASADA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
INICIADA,2.0,Encerrar Balanço,Antonio,2015-03-01 07:00:00,2015-03-08 09:00:00,2015-03-08 09:00:00,1900-01-07 02:00:00,1900-01-07 02:00:00,EM DIA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ADIADA,3.0,Preparar novo Plano de Contas,Pedro,2015-03-01 00:00:00,2015-03-20 00:00:00,NaT,1900-01-19 00:00:00,NaT,ADIANTADA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INICIADA
ENCERRADA,4.0,Preparar reunião de resultados,Márcia,2015-03-02 00:00:00,2015-03-10 00:00:00,NaT,1900-01-08 00:00:00,NaT,ADIANTADA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADIADA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUSPENSA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENCERRADA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADIANTADA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EM DIA

In [ ]:
# Ordenando pela coluna de indice
dataframe_excel.sort_index()

,N°,Atividade,Responsável,Início,Previsão,Término,Duração Prev.,Duração Real,SITUAÇÃO,Unnamed: 10,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
Estado Atual,,,,,,,,,,,,,,,,,,,,,
ADIADA,3.0,Preparar novo Plano de Contas,Pedro,2015-03-01 00:00:00,2015-03-20 00:00:00,NaT,1900-01-19 00:00:00,NaT,ADIANTADA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,INICIADA
ENCERRADA,1.0,Elaborar relatório de vendas,Antonio,2015-03-01 12:20:00,2015-03-01 18:30:00,2015-03-05 07:30:00,06:10:00,1900-01-03 19:10:00,ATRASADA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ENCERRADA,4.0,Preparar reunião de resultados,Márcia,2015-03-02 00:00:00,2015-03-10 00:00:00,NaT,1900-01-08 00:00:00,NaT,ADIANTADA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADIADA
INICIADA,2.0,Encerrar Balanço,Antonio,2015-03-01 07:00:00,2015-03-08 09:00:00,2015-03-08 09:00:00,1900-01-07 02:00:00,1900-01-07 02:00:00,EM DIA,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUSPENSA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENCERRADA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADIANTADA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,EM DIA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ATRASADA
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaT,NaT,NaT,NaN,NaT,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# **Gerando Planilhas a partir de Dataframes**

In [ ]:
dataset.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3.0,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3.0,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2.0,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4.0,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3.0,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [ ]:
# Gerando uma planilha com algumas colunas
colunas = ['id','price','bedrooms','sqft_living','floors','waterfront']
dataset[colunas].head()

           id     price  bedrooms  sqft_living  floors  waterfront
0  7129300520  221900.0       3.0         1180     1.0           0
1  6414100192  538000.0       3.0         2570     2.0           0
2  5631500400  180000.0       2.0          770     1.0           0
3  2487200875  604000.0       4.0         1960     1.0           0
4  1954400510  510000.0       3.0         1680     1.0           0

In [ ]:
dataset[colunas].to_excel('planilha_pandas.xlsx')